/* 
================================
Play with duration and timing function below! */
.ball {
  transition-property: transform;
  transition-delay: .25s;
  transition-duration: 1s;
  transition-timing-function: ;
}

.playing .ball {
  transform: translateX(400px);
}


/* 
================================
Necessary CSS Below-- no need to edit */

.paw {
  position: absolute; top: 0; left: 80px;
  transition: transform .25s linear;
}

.playing .paw {
  transform: translateX(30px);
}

.ball {
  background: #0097C0;
  border-radius: 50%;
  position: absolute; top: 200px; left: 160px;
  width: 100px; height: 100px;
}

body { background: #e3edf2; }

/* CP_DoFullRefresh */